.base-background {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #955BA5;
}

.content-background {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: inherit;
  max-width: 800px;
  min-height: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 1.25em;
}

header {
  text-align: center;
}

@media screen and (min-width: 800px) {
 .content-background {
   padding: 1.25em 2em;
 }
}
