form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

label {
  align-self: flex-start;
}

.input-prompt {
  resize: none;
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 0.5em;
}

.response-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(0.5 * calc(100vw - 2em));
}

.image-ai {
  width: 50%;
  height: 100%;
}

.response-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  box-sizing: border-box;
  padding: 1em;
  background-color: #D0D8DA;
}

.response-text {
  text-align: center;
  font-size: calc(0.05 * calc(0.5 * calc(100vw - 2em)));
}

button {
  width: 6em;
  height: 2em;
  color: white;
  background-color: #48C9E4;
  border: none;
  border-radius: 0.5em;
  font-size: large;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: #25bfdf;
}

@media screen and (max-width: 800px) {
  .input-prompt {
    height: 15vh;
  }
}

@media screen and (min-width: 800px) {
  .response-container,
  .image-ai,
  .response-box {
    height: 367.5px;
  }
  .image-ai {
    width: 367.5px;
  }
  .response-text {
    font-size: 1.5em;
  }
}
